**/.idea
**/bin
**/ApexLogsExternal.Subscriber.csproj.nuget.dgspec.json
**/ApexLogsExternal.Subscriber.csproj.nuget.g.props
**/ApexLogsExternal.Subscriber.csproj.nuget.g.targets
**/project.assets.json
**/project.nuget.cache
**/project.packagespec.json
**/rider.project.restore.info
**/staticwebassets.pack.sentinel
**/ref
**/refint
**/staticwebassets
**/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
**/obj/Debug/net6.0/1255d1a520d30ea4_pubsub_api.protodep
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.dll
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.pdb
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.AssemblyInfo.cs
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.AssemblyInfoInputs.cache
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.assets.cache
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.csproj.CopyComplete
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.csproj.AssemblyReference.cache
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.csproj.CoreCompileInputs.cache
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.csproj.FileListAbsolute.txt
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.GeneratedMSBuildEditorConfig.editorconfig
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.genruntimeconfig.cache
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.GlobalUsings.g.cs
**/obj/Debug/net6.0/ApexLogsExternal.Subscriber.MvcApplicationPartsAssemblyInfo.cache
**/obj/Debug/net6.0/apphost
**/obj/Debug/net6.0/staticwebassets.build.json
**/.DS_Store