**/.idea
**/bin
**/ApexLogsExternal.Subscriber.csproj.nuget.dgspec.json
**/ApexLogsExternal.Subscriber.csproj.nuget.g.props
**/ApexLogsExternal.Subscriber.csproj.nuget.g.targets
**/project.assets.json
**/project.nuget.cache
**/project.packagespec.json
**/rider.project.restore.info
**/staticwebassets.pack.sentinel
**/ref
**/refint
**/staticwebassets
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/1255d1a520d30ea4_pubsub_api.protodep
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.dll
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.pdb
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.AssemblyInfo.cs
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.AssemblyInfoInputs.cache
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.assets.cache
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.csproj.CopyComplete
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.csproj.AssemblyReference.cache
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.csproj.CoreCompileInputs.cache
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.csproj.FileListAbsolute.txt
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.GeneratedMSBuildEditorConfig.editorconfig
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.genruntimeconfig.cache
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.GlobalUsings.g.cs
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/ApexLogsExternal.Subscriber.MvcApplicationPartsAssemblyInfo.cache
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/apphost
**/ApexLogsExternal/ApexLogsExternal.Subscriber/obj/Debug/net6.0/staticwebassets.build.json
